@charset "UTF-8";
@import url("https://use.typekit.net/pkx7dgh.css");
@import url(../../libs/bootstrap-grid.min.css);
@import url(../../libs/bootstrap.min.css);
@import url(../../libs/owl.carousel.min.css);
@import url(../../libs/owl.theme.green.min.css);
@import url(../../libs/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css);
.--box-shadow {
  -webkit-box-shadow: 6px 5px 25px rgba(58, 59, 60, 0.4);
          box-shadow: 6px 5px 25px rgba(58, 59, 60, 0.4); }

/**BACKGROUND**/
.--bg-white {
  background: #FFFFFF; }

.--bg-blue-light {
  background: #BDCBDC; }

/**SIZIING**/
.--rounded {
  -webkit-border-radius: 30px;
          border-radius: 30px; }

.--txt-red {
  color: #C7291D;
  font-weight: bold; }

.--txt-green {
  color: #44A146;
  font-weight: bold; }

.--txt-shadow {
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.335); }

.--overlay-blue::after {
  content: '';
  background: rgba(100, 207, 253, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/**HEADINGS**/
.--main_heading {
  font-size: 60px;
  font-family: mr-eaves-sans, sans-serif; }

.--subheading {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px; }

/**SVG**/
.--blue-stroke-svg {
  height: 30px;
  width: 30px;
  fill: none;
  stroke: #7A98B9;
  stroke-width: 2px; }

.--grey-stroke-svg {
  height: 30px;
  width: 30px;
  fill: none;
  stroke: #aaaaaa;
  stroke-width: 3px; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-family: "Times New Roman", sans-serif;
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
  position: relative;
  overflow-x: hidden; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Remove outline on the forms and links */
* {
  outline: 0;
  outline-offset: 0; }

.red-btn {
  background: #C7291D;
  border: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 600;
  padding: 1.5% 2%;
  margin: 2% 0;
  cursor: pointer;
  -webkit-box-shadow: 6px 5px 25px rgba(58, 59, 60, 0.4);
          box-shadow: 6px 5px 25px rgba(58, 59, 60, 0.4); }

.green-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #44A146;
  width: 100%;
  height: 100px;
  font-family: mr-eaves-sans, sans-serif;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.335);
  font-size: 20px;
  padding: 2%;
  border: none;
  -webkit-box-shadow: 6px 5px 25px rgba(58, 59, 60, 0.4);
          box-shadow: 6px 5px 25px rgba(58, 59, 60, 0.4);
  cursor: pointer;
  position: relative; }
  .green-btn_text {
    color: #FFFFFF;
    display: block; }
  .green-btn svg {
    height: 80px;
    -webkit-filter: drop-shadow(5px);
            filter: drop-shadow(5px);
    position: absolute;
    top: 33px;
    padding-left: 9px; }

.search-btn {
  background: #44A146;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 17px;
          border-radius: 17px;
  border: none;
  padding: 1.5% 2%;
  margin: 0 2%;
  cursor: pointer;
  outline: none !important;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease; }
  .search-btn:hover {
    -webkit-box-shadow: 0px 0px 10px rgba(58, 59, 60, 0.4);
            box-shadow: 0px 0px 10px rgba(58, 59, 60, 0.4);
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease; }

.ytp-button {
  background: none;
  border: none;
  height: 50px;
  position: absolute;
  top: 35%;
  left: 5px;
  outline: none !important;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease; }
  .ytp-button svg {
    fill: #212121;
    fill-opacity: 0.8;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease; }
  .ytp-button:hover {
    cursor: pointer; }

.navbar-toggler {
  outline: none !important; }

.modals {
  position: fixed;
  top: 40%;
  right: -15px;
  z-index: 2000; }
  .modals_side-btn {
    background: #FFFFFF;
    -webkit-border-radius: 40px 0 0 40px;
            border-radius: 40px 0 0 40px;
    height: 68px;
    width: 130px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 8% 0;
    cursor: pointer;
    position: relative;
    top: 0;
    right: 0;
    text-decoration: none !important;
    -webkit-transition: right .4s ease;
    -o-transition: right .4s ease;
    transition: right .4s ease; }
    .modals_side-btn p {
      margin-bottom: 0 !important; }
  .modals_compare:hover {
    right: 15px;
    -webkit-transition: right .2s ease;
    -o-transition: right .2s ease;
    transition: right .2s ease; }
  .modals_tray:hover {
    right: 15px;
    -webkit-transition: right .2s ease;
    -o-transition: right .2s ease;
    transition: right .2s ease; }

.n-details-btn {
  text-transform: uppercase;
  color: #383838;
  font-weight: 600;
  padding: 1% 3%;
  margin: 1% 0;
  width: 155px;
  text-align: center;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
       -o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
          transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  position: relative;
  z-index: 1;
  border: 1px solid #44A146;
  background: #FFFFFF;
  display: inline-block;
  transition: .4s;
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  position: relative;
  z-index: 1; }
  .n-details-btn::before {
    content: '';
    display: block;
    border: 1px solid #44A146;
    height: -webkit-calc(100% + 2px);
    height: calc(100% + 2px);
    width: -webkit-calc(100% + 2px);
    width: calc(100% + 2px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
         -o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
            transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
  .n-details-btn::after {
    content: '';
    display: block;
    background: #FFFFFF;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
         -o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
            transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
  .n-details-btn:hover {
    text-decoration: none;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
         -o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
            transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
    .n-details-btn:hover::before {
      top: 6px;
      left: 6px;
      z-index: -3;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
           -o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
              transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
  .n-details-btn:hover {
    color: #383838; }

.controlls_mark-btn {
  background: none;
  border: 1px solid #707070;
  text-transform: uppercase;
  color: #44A146;
  font-size: 15px;
  padding: 2%;
  cursor: pointer;
  width: 32%; }

.controlls_buy-btn {
  background: #44A146;
  border: none;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  width: 28%;
  padding: 12px 0;
  -webkit-box-shadow: 0px 0px 20px rgba(58, 59, 60, 0.4);
          box-shadow: 0px 0px 20px rgba(58, 59, 60, 0.4); }
  .controlls_buy-btn:active {
    -webkit-box-shadow: 0px 0px 10px rgba(58, 59, 60, 0.8);
            box-shadow: 0px 0px 10px rgba(58, 59, 60, 0.8); }

.controlls_compare-btn {
  background: none;
  border: 1px solid #44A146;
  text-transform: uppercase;
  color: #383838;
  font-size: 12px;
  cursor: pointer;
  padding: 2.7% 1%;
  width: 32%;
  font-weight: 600; }

.add-to-cart-btn {
  background: #7A98B9;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  border: none;
  cursor: pointer;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  font-size: 13px;
  padding: 4%;
  width: 100%;
  text-shadow: 0 0 5px rgba(58, 59, 60, 0.3); }
  .add-to-cart-btn:active {
    background: #51677F;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease; }

.delete-btn {
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -14px;
  left: -5px; }
  .delete-btn .delete-svg {
    height: 100%; }
    .delete-btn .delete-svg .cls-1 {
      opacity: 0.9; }
    .delete-btn .delete-svg .cls-2, .delete-btn .delete-svg .cls-3 {
      stroke: red; }
    .delete-btn .delete-svg .cls-3, .delete-btn .delete-svg .cls-5 {
      fill: none; }
    .delete-btn .delete-svg .cls-4 {
      stroke: none; }
    .delete-btn .delete-svg:active .cls-2, .delete-btn .delete-svg:active .cls-3 {
      stroke: #a30000;
      -webkit-filter: drop-shadow(0 0 3px rgba(58, 59, 60, 0.9));
              filter: drop-shadow(0 0 3px rgba(58, 59, 60, 0.9)); }

.border-blue-TP-btn {
  background: none;
  border: 1px solid #7A98B9;
  text-transform: uppercase;
  color: #7A98B9;
  padding: 12px 20px;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }
  .border-blue-TP-btn:hover {
    border: 1px solid #51677F;
    color: #51677F;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease; }

.blue-rounbded-TP-btn {
  background: none;
  color: #7A98B9;
  border: 1px solid #7A98B9;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  text-transform: uppercase;
  font-family: mr-eaves-sans, sans-serif;
  height: 34px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  float: right;
  margin: 20px auto;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease; }
  .blue-rounbded-TP-btn:hover {
    color: #51677F;
    background: 1px solid #51677F;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease; }
  .blue-rounbded-TP-btn:active {
    -webkit-box-shadow: 0 0 10px #ccc;
            box-shadow: 0 0 10px #ccc;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease; }

.send-btn {
  display: block;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 20px;
  text-shadow: 1px 1px 1px #707070;
  padding: 5px 20px;
  margin: 10px auto 0; }

input, select {
  outline: none; }

body {
  background-color: #7A98B9;
  outline: none !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-transition: -webkit-filter 1s ease;
  transition: -webkit-filter 1s ease;
  -o-transition: filter 1s ease;
  transition: filter 1s ease;
  transition: filter 1s ease, -webkit-filter 1s ease; }
  body button {
    outline: none !important; }
  body a:hover {
    text-decoration: none; }

button {
  border: none; }

#app {
  background: #FFFFFF; }

/*********************************************************HEADER*********************************************************/
header {
  position: fixed;
  width: 100%;
  z-index: 2000;
  -webkit-box-shadow: -3px 4px 19px rgba(58, 59, 60, 0.2);
          box-shadow: -3px 4px 19px rgba(58, 59, 60, 0.2);
  top: 0;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease; }

.header-line {
  padding: 5px;
  font-family: mr-eaves-sans, sans-serif;
  font-style: italic;
  font-weight: normal;
  background: #FFFFFF;
  display: none; }
  .header-line img {
    margin: 0 10px;
    height: 35px; }
  .header-line .time {
    font-size: 1.5em;
    margin: -6px 10px 0; }
  .header-line .green-text {
    color: #44A146;
    font-weight: 900;
    font-style: normal;
    font-weight: bold; }
  .header-line .timer {
    margin-left: 15%;
    font-style: normal;
    font-weight: bold; }
    .header-line .timer_integer {
      display: inline-block;
      height: 26px;
      width: 17px;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      background: #707070;
      color: white;
      line-height: 26px;
      text-align: center; }
    .header-line .timer_cell {
      margin: 0px 5px; }
      .header-line .timer_cell::after {
        content: ' :';
        font-size: 20px; }
      .header-line .timer_cell:last-child::after {
        content: '';
        color: #707070; }
    .header-line .timer_sec {
      margin-top: 4px; }

.navbar-nav {
  padding: 5% 0; }
  .navbar-nav li {
    margin: 1% 0; }
    .navbar-nav li a {
      color: #FFFFFF;
      text-decoration: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0);
      -webkit-transition: .4s ease;
      -o-transition: .4s ease;
      transition: .4s ease; }
      .navbar-nav li a:hover, .navbar-nav li a:focus {
        border-bottom: 1px solid #FFFFFF;
        -webkit-transition: .4s ease;
        -o-transition: .4s ease;
        transition: .4s ease; }

.header {
  background: #7A98B9;
  min-height: 70px; }
  .header_navigation {
    width: 40%; }
    .header_navigation .navbar-nav {
      width: 100%; }
      .header_navigation .navbar-nav li {
        white-space: pre; }
        .header_navigation .navbar-nav li:not(:last-child) {
          margin-right: 5%; }
        .header_navigation .navbar-nav li a {
          color: #FFFFFF;
          text-decoration: none;
          font-size: 15px;
          border-bottom: 1px solid rgba(255, 255, 255, 0);
          text-align: center; }
          .header_navigation .navbar-nav li a:hover, .header_navigation .navbar-nav li a:focus {
            border-bottom: 1px solid #FFFFFF; }
  .header_search {
    width: 25%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }
    .header_search input {
      background: rgba(255, 255, 255, 0.52);
      border: none;
      -webkit-border-radius: 25px;
              border-radius: 25px;
      padding-left: 15%;
      -webkit-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease; }
      .header_search input::-webkit-input-placeholder {
        color: #FFFFFF;
        font-style: italic; }
      .header_search input::-moz-placeholder {
        color: #FFFFFF;
        font-style: italic; }
      .header_search input:-ms-input-placeholder {
        color: #FFFFFF;
        font-style: italic; }
      .header_search input:-moz-placeholder {
        color: #FFFFFF;
        font-style: italic; }
  .header_tel {
    background: #51677F;
    min-height: 81px;
    padding: 0 2%;
    margin: 0 1%; }
    .header_tel a {
      color: #FFFFFF;
      text-decoration: none; }
  .header_options select {
    background: none;
    border: none;
    color: #FFFFFF;
    font-style: 700;
    cursor: pointer;
    border: 0px;
    outline: 0px; }
    .header_options select option {
      background: #51677F;
      border: none; }

/*********************************************************BANNER*********************************************************/
.banner {
  height: 700px;
  background: url(../../assets/images/background.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  position: relative;
  top: 74px;
  -webkit-box-shadow: 10px 10px 47px rgba(58, 59, 60, 0.4);
          box-shadow: 10px 10px 47px rgba(58, 59, 60, 0.4); }
  .banner h1 {
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.335);
    margin-top: 70px; }
  .banner h2 {
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.335);
    margin-bottom: 65px; }
  .banner_overlay {
    background: rgba(100, 207, 253, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .banner_feature-box {
    height: 270px;
    width: 100%;
    padding: 14% 2%;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    background-color: rgba(255, 255, 255, 0);
    -webkit-border-radius: 0;
            border-radius: 0; }
    .banner_feature-box:hover {
      background-image: url(../../assets/images/pattern.png);
      background-color: rgba(68, 161, 69, 0.514);
      background-position: center;
      -webkit-background-size: cover;
              background-size: cover;
      position: relative;
      -webkit-transition: all .6s ease;
      -o-transition: all .6s ease;
      transition: all .6s ease;
      -webkit-border-radius: 80px 0 80px 0;
              border-radius: 80px 0 80px 0; }
    .banner_feature-box img {
      z-index: 1; }
    .banner_feature-box p {
      color: #FFFFFF;
      text-align: center;
      line-height: 1.3em;
      z-index: 1; }

/*********************************************************GOODS*********************************************************/
.lead {
  background: url(../../assets/images/fish.jpg) no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  height: 400px;
  color: #FFFFFF;
  padding: 10%; }
  .lead h3 {
    font-weight: bold;
    font-size: 30px; }
  .lead p {
    width: 60%;
    font-size: 20px;
    line-height: 1.3em; }
  .lead input {
    background: #FFFFFF;
    border: none;
    padding: 1.5% 2%;
    width: 60%;
    margin-right: 5%; }
    .lead input::-webkit-input-placeholder {
      color: #707070;
      font-style: italic; }
    .lead input::-moz-placeholder {
      color: #707070;
      font-style: italic; }
    .lead input:-ms-input-placeholder {
      color: #707070;
      font-style: italic; }
    .lead input:-moz-placeholder {
      color: #707070;
      font-style: italic; }

.goods {
  min-height: 700px;
  background-image: url(../../assets/images/pattern_large.png);
  background-color: #FFFFFF; }
  .goods a:hover {
    -webkit-text-decoration-color: #44A146 !important;
            text-decoration-color: #44A146 !important; }
  .goods_together {
    width: 100%;
    height: 400px;
    background: #FFFFFF;
    position: relative;
    color: #383838; }
    .goods_together_caption {
      background: #44A146;
      width: 100%;
      text-align: center;
      color: #FFFFFF;
      font-size: 25px;
      padding: 4%; }
    .goods_together_boat {
      position: absolute;
      top: 41%;
      left: 8%; }
    .goods_together_plus {
      position: absolute;
      top: 33%;
      left: 47%;
      z-index: 2;
      font-size: 49px; }
    .goods_together_acc {
      position: absolute;
      top: 20%;
      left: 45%;
      height: 111px; }
    .goods_together_price {
      position: absolute;
      bottom: 20px; }

.popular {
  padding: 6% 0; }
  .popular a {
    text-decoration: none; }
  .popular_box {
    background: #FFFFFF;
    padding: 20px;
    min-height: 230px;
    position: relative; }
    .popular_box .old-price {
      display: none; }
    .popular_box p {
      border-top: 1px solid #707070;
      text-align: center;
      margin-bottom: 0;
      color: #0d1200; }

.new:after {
  content: 'Новинка';
  width: 52%;
  background: #44A146;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2% 6%;
  -webkit-border-radius: 0 0 0 17px;
          border-radius: 0 0 0 17px;
  text-align: center;
  color: white;
  text-transform: uppercase; }

.action span {
  color: #C7291D; }
  .action span .old-price {
    display: inline;
    text-decoration: line-through;
    color: #0d1200;
    font-weight: normal;
    font-size: .9em; }

.action:after {
  content: 'Акция';
  width: 52%;
  background: #C7291D;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2% 6%;
  -webkit-border-radius: 0 0 0 17px;
          border-radius: 0 0 0 17px;
  text-align: center;
  color: white;
  text-transform: uppercase; }

/*********************************************************WORK*********************************************************/
.work {
  min-height: 400px;
  background: url(../../assets/images/work_bg.jpg) no-repeat;
  background-position: bottom;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative; }
  .work_box {
    height: 250px; }
  .work .col-md-3::after {
    content: '';
    height: 10px;
    width: 50px;
    display: block;
    background: url(../../assets/images/arrow-right.png) no-repeat;
    position: absolute;
    z-index: 2;
    top: 27%;
    left: 91%; }
  .work .col-md-3:last-child::after {
    content: none; }
  .work_image-box {
    height: 60%; }
  .work h4, .work img, .work p {
    position: relative;
    z-index: 2; }
  .work h4 {
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    padding: 35px; }
  .work p {
    color: #FFFFFF;
    text-align: center; }

/*********************************************************VIDEO*********************************************************/
.video {
  min-height: 700px;
  background-image: url(../../assets/images/pattern_large.png);
  background-color: #FFFFFF; }
  .video_aside_wrapper::after {
    content: '';
    width: 100%;
    height: 20%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(90%, #FFFFFF));
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0), #FFFFFF 90%);
    background: -o-linear-gradient(rgba(255, 255, 255, 0), #FFFFFF 90%);
    background: linear-gradient(rgba(255, 255, 255, 0), #FFFFFF 90%);
    display: block;
    position: absolute;
    bottom: 0; }
  .video_aside {
    max-height: 565px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    /* Track */
    /* Handle */
    /* Handle on hover */ }
    .video_aside::-webkit-scrollbar {
      width: 5px;
      height: auto; }
    .video_aside::-webkit-scrollbar-track {
      background: rgba(139, 139, 139, 0.522); }
    .video_aside::-webkit-scrollbar-thumb {
      background: rgba(49, 49, 49, 0.514); }
    .video_aside::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 0, 0, 0.6); }
    .video_aside_preview {
      position: relative; }
      .video_aside_preview:hover {
        cursor: pointer; }
        .video_aside_preview:hover svg {
          fill: #ff0000;
          fill-opacity: 1; }
    .video_aside img {
      width: 80%;
      margin: auto;
      display: block;
      cursor: pointer; }
    .video_aside iframe {
      margin: auto; }
  .video_main-vid iframe {
    margin: auto; }
  .video_kits a {
    text-decoration: none; }
  .video .popular_box {
    min-height: 155px; }

/*********************************************************FOOTER*********************************************************/
.footer {
  min-height: 400px;
  background: url('wordpress/wp-content/themes/delphin/assets/images/footer_bg.jpg') no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  position: relative; }
  .footer a {
    color: #FFFFFF;
    text-decoration: none; }
  .footer_nav, .footer_social, .footer_contact, .footer_copyright {
    z-index: 2;
    width: 100%; }
  .footer_nav {
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 0; }
    .footer_nav a {
      border-bottom: 1px solid rgba(255, 255, 255, 0);
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
      .footer_nav a:hover {
        border-bottom: 1px solid #FFFFFF; }
    .footer_nav a:not(:last-child) {
      margin-right: 12.6%; }
    .footer_nav a:not(:last-child) {
      margin-right: 13%; }
  .footer_social {
    padding: 4%;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease; }
    .footer_social a:hover {
      color: #44A146;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease; }
      .footer_social a:hover svg {
        fill: #44A146;
        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease; }
    .footer_social svg {
      fill: #FFFFFF;
      height: 45px;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease; }
    .footer_social a:not(:last-child) {
      margin-right: 5%; }
  .footer_contact {
    padding: 2%; }
    .footer_contact a {
      border-bottom: 1px solid rgba(255, 255, 255, 0);
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
      .footer_contact a:hover {
        border-bottom: 1px solid #FFFFFF; }
    .footer_contact a:not(:last-child) {
      margin-right: 12.6%; }
  .footer_copyright {
    padding-top: 3%; }
    .footer_copyright svg {
      width: 120px;
      width: 130px;
      margin: 0 1%; }

.hidden {
  top: -200px !important; }

.nav-tabs {
  border-bottom: none; }
  .nav-tabs li {
    background: #44A146;
    font-weight: 700;
    font-size: 25px;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.335);
    width: 25%; }
    .nav-tabs li a {
      color: #FFFFFF;
      width: 100%;
      height: 100%;
      display: block;
      padding: 3%;
      text-align: center; }
      .nav-tabs li a:hover {
        text-decoration: none; }
  .nav-tabs .active {
    background: #FFFFFF;
    color: #7A98B9;
    -webkit-box-shadow: 6px 5px 25px rgba(58, 59, 60, 0.4);
            box-shadow: 6px 5px 25px rgba(58, 59, 60, 0.4);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
    background: -webkit-linear-gradient(#fff, #ccc);
    background: -o-linear-gradient(#fff, #ccc);
    background: linear-gradient(#fff, #ccc);
    text-shadow: none; }

.production a {
  color: #0d1200; }
  .production a:hover {
    text-decoration: none; }

.production #menu1,
.production #menu2,
.production #menu3,
.production #menu4 {
  padding: 50px 0; }

.production_box {
  background: #FFFFFF;
  padding: 7% 22%; }
  .production_box_line {
    border-top: 1px solid #707070;
    margin-top: 20px; }

.--gradient-bg {
  background: #EFEFEF; }

.star {
  fill: #969696; }

.controlls_svg {
  height: 35px; }

.controlls_stars {
  color: #44A146;
  font-size: 35px;
  font-weight: 700; }

.controlls_marks {
  color: #969696;
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  margin-left: 20px; }

.controlls_price {
  color: #7A98B9;
  font-size: 30px;
  margin-right: 25px; }

.item {
  padding-top: 20px; }
  .item_aside_nav li {
    width: 50%;
    background: none;
    font-size: 20px;
    text-shadow: none; }
    .item_aside_nav li a {
      color: #707070; }
  .item_aside_nav .active {
    background: #FFFFFF;
    color: #383838;
    font-size: 25px;
    text-shadow: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: relative;
    z-index: 100; }
  .item_aside_nav #descrTab.active {
    -webkit-border-top-right-radius: 25px;
            border-top-right-radius: 25px;
    -webkit-filter: drop-shadow(-4px -8px 5px rgba(0, 0, 0, 0.2));
            filter: drop-shadow(-4px -8px 5px rgba(0, 0, 0, 0.2)); }
  .item_aside_nav #charsTab.active {
    -webkit-border-top-left-radius: 25px;
            border-top-left-radius: 25px;
    -webkit-filter: drop-shadow(4px -8px 5px rgba(0, 0, 0, 0.2));
            filter: drop-shadow(4px -8px 5px rgba(0, 0, 0, 0.2)); }
  .item_aside_description {
    background: #FFFFFF;
    padding: 20px;
    font-size: 15px;
    -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.486));
            filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.486)); }

.p-comments {
  background-color: #BDCBDC;
  background-image: url(../../assets/images/pattern.png);
  padding: 20px;
  position: relative; }
  .p-comments h2 {
    color: #FFFFFF;
    font-family: mr-eaves-sans, sans-serif;
    font-weight: 700;
    font-size: 25px;
    display: inline-block; }
  .p-comments_count {
    color: #707070;
    font-size: 24px;
    font-weight: 700;
    margin-left: 10px; }
  .p-comments_hint {
    color: #383838;
    font-style: italic;
    font-size: 16px;
    line-height: 20px; }

.p-comment {
  background: #FFFFFF;
  padding: 15px;
  position: relative;
  z-index: 10; }
  .p-comment:not(:last-child) {
    margin-bottom: 20px; }
  .p-comment_author {
    font-size: 22px; }
  .p-comment_date {
    font-size: 18px;
    font-style: italic;
    color: #707070; }
  .p-comment .controlls_stars {
    font-size: 26px;
    color: #707070; }
  .p-comment .controlls_svg {
    height: 26px; }

.sets {
  background: #FFFFFF;
  padding: 20px;
  margin-left: 20px; }
  .sets_hint {
    font-style: italic;
    color: #383838;
    font-size: 16px;
    font-weight: 300; }
  .sets_category {
    background: #44A146;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 0 0 7px rgba(32, 32, 32, 0.3);
    padding: 15px 5%; }
  .sets h2 {
    color: #383838;
    font-family: mr-eaves-sans, sans-serif;
    font-weight: 700;
    font-size: 25px;
    display: inline-block; }
  .sets a:hover {
    text-decoration: none !important; }
  .sets_heading {
    font-size: 18px;
    font-weight: 700;
    color: #383838; }
  .sets_box_description {
    color: #7A98B9;
    text-decoration: underline; }
    .sets_box_description:hover {
      color: #51677F; }
  .sets_box_aside {
    width: 50%; }
  .sets_delivery {
    background: #BDCBDC;
    padding: 20px;
    color: #FFFFFF; }
    .sets_delivery h2 {
      font-family: mr-eaves-sans, sans-serif;
      font-size: 25px;
      text-decoration: underline;
      font-weight: 100;
      color: #FFFFFF; }

.textarea-white {
  background: #FFFFFF;
  resize: none;
  border: none;
  padding: 10px; }
  .textarea-white::-webkit-input-placeholder {
    color: #707070;
    font-style: italic; }
  .textarea-white::-moz-placeholder {
    color: #707070;
    font-style: italic; }
  .textarea-white:-ms-input-placeholder {
    color: #707070;
    font-style: italic; }
  .textarea-white:-moz-placeholder {
    color: #707070;
    font-style: italic; }

.leave-comment {
  margin-bottom: 20px;
  padding: 20px 10px; }
  .leave-comment_stars {
    width: 60%; }
  .leave-comment_mark {
    color: #0d1200;
    font-size: 16px; }
  .leave-comment .star-svg {
    width: 10%;
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
    fill: #B2BCC9; }
    .leave-comment .star-svg:hover {
      fill: #7A98B9;
      -webkit-transition: .4s ease;
      -o-transition: .4s ease;
      transition: .4s ease; }

.--n-heading {
  font-family: mr-eaves-sans, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #383838;
  margin-bottom: 0; }

.n-background {
  background-image: url(../../assets/images/news_list/news_BG.jpg);
  -webkit-background-size: cover;
          background-size: cover; }

.n-header {
  margin-top: 74px;
  padding-top: 50px; }
  .n-header_breadcrumb {
    margin: 0 -15px; }
    .n-header_breadcrumb .breadcrumb {
      background-color: transparent;
      padding-left: 0;
      font-style: italic; }
      .n-header_breadcrumb .breadcrumb a {
        color: #0d1200; }
        .n-header_breadcrumb .breadcrumb a:hover {
          color: #51677F; }
      .n-header_breadcrumb .breadcrumb::before {
        content: '';
        height: 2px;
        width: 100%;
        background: #7A98B9;
        margin-bottom: 10px; }

.n-feed_item {
  width: 100%;
  background: #FFFFFF;
  margin-bottom: 3%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 330px; }
  .n-feed_item a:hover {
    text-decoration: none !important; }
  .n-feed_item_img {
    overflow: hidden; }
  .n-feed_item_text {
    padding: 4% 2%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .n-feed_item_text_time {
      font-size: 15px;
      font-style: italic; }
    .n-feed_item_text_post {
      margin: 0; }
    .n-feed_item_text_tags {
      font-style: italic;
      margin-bottom: 0; }
      .n-feed_item_text_tags strong {
        font-style: normal; }
    .n-feed_item_text_views {
      font-size: 10px;
      font-style: italic; }
      .n-feed_item_text_views .n-view {
        width: 20px; }
  .n-feed_item .col-md-4 {
    padding: 0 !important; }
  .n-feed_item img {
    width: 100%; }

.btn-block {
  padding: 50px; }
  .btn-block .container {
    padding: 0; }

.n-lead {
  padding: 50px 0; }
  .n-lead_tags {
    padding-top: 30px; }
    .n-lead_tags_item {
      cursor: pointer;
      background: rgba(139, 139, 139, 0.522);
      color: #FFFFFF;
      line-height: 23px;
      padding: 3px 9px;
      margin-bottom: 4px;
      display: inline-block;
      -webkit-transition: all .4s ease;
      -o-transition: all .4s ease;
      transition: all .4s ease; }
      .n-lead_tags_item:hover {
        text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
        text-decoration: none;
        color: #FFFFFF;
        -webkit-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
        -webkit-box-shadow: 3px 3px 6px rgba(58, 59, 60, 0.2);
                box-shadow: 3px 3px 6px rgba(58, 59, 60, 0.2); }

.n-gallery {
  padding-bottom: 120px; }
  .n-gallery_container {
    overflow-x: scroll;
    overflow-y: hidden;
    /* Track */
    /* Handle */
    /* Handle on hover */
    max-height: 430px; }
    .n-gallery_container::-webkit-scrollbar {
      width: auto;
      height: 3px; }
    .n-gallery_container::-webkit-scrollbar-track {
      background: rgba(139, 139, 139, 0.522); }
    .n-gallery_container::-webkit-scrollbar-thumb {
      background: rgba(49, 49, 49, 0.514); }
    .n-gallery_container::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 0, 0, 0.6); }
    .n-gallery_container_inner {
      width: 1003px;
      margin-left: 10px; }
    .n-gallery_container_ph_inner {
      width: 1500px;
      height: 416px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      padding-top: 10px; }
  .n-gallery_item {
    width: auto;
    margin: 10px; }
    .n-gallery_item .ytp-button {
      top: -28%; }
  .n-gallery_ph_item {
    width: 180px;
    margin-right: 10px;
    height: 180px;
    overflow: hidden; }
  .n-gallery .col-md-8 {
    padding: 0; }
  .n-gallery h2 {
    background: #44A146;
    width: 100%;
    padding: 10px 20px;
    font-size: 30px; }

.n-modal_vid {
  display: none;
  position: fixed;
  top: 10vh;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  z-index: 100; }
  .n-modal_vid #modalVid {
    height: 588px;
    position: relative; }

.modalVid_close-btn {
  background: none;
  border: none;
  height: 37px;
  position: absolute;
  top: -40px;
  right: 0;
  cursor: pointer; }

.blue-close-svg {
  height: 100%; }
  .blue-close-svg .cls-2 {
    fill: none; }
  .blue-close-svg .cls-2, .blue-close-svg .cls-3 {
    stroke: #51677F;
    stroke-width: 1px; }
  .blue-close-svg .cls-3, .blue-close-svg .cls-5 {
    fill: none; }
  .blue-close-svg .cls-4 {
    stroke: none; }

.n-modal_ph {
  display: none;
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  z-index: 100; }

.comments {
  padding-bottom: 50px; }
  .comments h2 {
    font-size: 30px;
    color: #313131;
    font-family: mr-eaves-sans, sans-serif;
    font-weight: 600;
    margin-bottom: 40px; }
  .comments textarea {
    resize: none;
    width: 100%;
    background: #dadada;
    border: none;
    padding: 2.6% 2%;
    height: 90px;
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease; }
    .comments textarea::-webkit-input-placeholder {
      color: #707070;
      font-style: italic; }
    .comments textarea::-moz-placeholder {
      color: #707070;
      font-style: italic; }
    .comments textarea:-ms-input-placeholder {
      color: #707070;
      font-style: italic; }
    .comments textarea:-moz-placeholder {
      color: #707070;
      font-style: italic; }
    .comments textarea:focus {
      height: 300px;
      -webkit-transition: .4s ease;
      -o-transition: .4s ease;
      transition: .4s ease; }
  .comments .comments-feed {
    margin-top: 70px; }
  .comments .comment {
    padding: 15px 0; }
    .comments .comment_author {
      font-size: 24px;
      font-weight: 600;
      display: inline-block;
      margin-right: 20px; }
    .comments .comment_date {
      font-size: 18px;
      font-style: italic;
      color: #707070; }
    .comments .comment_submit {
      background: none;
      border: none;
      color: #707070;
      font-style: italic;
      text-decoration: underline;
      cursor: pointer;
      -webkit-transition: .2s ease;
      -o-transition: .2s ease;
      transition: .2s ease; }
      .comments .comment_submit:hover {
        color: #383838;
        -webkit-transition: .2s ease;
        -o-transition: .2s ease;
        transition: .2s ease; }
      .comments .comment_submit:active {
        color: #51677F; }
    .comments .comment_reply {
      padding-left: 70px;
      padding-top: 15px; }
      .comments .comment_reply .comment_author {
        font-size: 20px; }

.--a-heading {
  color: #FFFFFF; }

.a-banner {
  background-image: url(../../assets/images/about/about_BG.jpg);
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  margin-top: 74px;
  width: 100%;
  min-height: 700px; }
  .a-banner h1 {
    text-shadow: 0px 3px 6px black;
    margin-bottom: 30px; }
  .a-banner_content {
    position: relative;
    top: 349px; }
  .a-banner_aside_doc {
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease; }
    .a-banner_aside_doc:hover {
      -webkit-transform: scale(1.08);
          -ms-transform: scale(1.08);
              transform: scale(1.08);
      -webkit-transition: .4s ease;
      -o-transition: .4s ease;
      transition: .4s ease; }
  .a-banner_aside img {
    height: 80%;
    width: 80%;
    margin: auto;
    cursor: pointer; }
  .a-banner_aside .row:not(:last-child) {
    margin-bottom: 10px; }
  .a-banner_text {
    text-shadow: 0 0 6px black;
    color: #FFFFFF;
    height: 100%;
    font-size: 18px;
    /* Put this on top of the blurred layer */
    position: relative;
    z-index: 100;
    padding: 20px;
    background: #7A98B9;
    background: rgba(124, 213, 251, 0.8); }
    .a-banner_text .row:nth-child(1) p,
    .a-banner_text .row:nth-child(3) p {
      width: 60%;
      text-align: center;
      margin: auto;
      padding-bottom: 20px; }
    .a-banner_text .row:nth-child(2),
    .a-banner_text .row:nth-child(3) {
      margin-top: 20px; }
      .a-banner_text .row:nth-child(2)::before,
      .a-banner_text .row:nth-child(3)::before {
        content: '';
        height: 1px;
        width: 200px;
        left: 38%;
        background: #FFFFFF;
        position: absolute;
        margin-top: -17px; }
  .a-banner_container {
    position: relative;
    top: -300px; }

.a-details {
  background: #FFFFFF;
  position: relative;
  z-index: -1;
  padding: 50px 0;
  margin-top: -300px; }
  .a-details h2 {
    background: #44A146;
    width: 100%;
    padding: 10px 20px;
    font-size: 30px; }

.a-gallery {
  position: fixed;
  top: 0;
  z-index: 3000;
  height: 100vh; }

#a-banner-container {
  position: relative;
  top: 280px; }

.--gradient-rad {
  background: -webkit-radial-gradient(#FFFFFF 19%, transparent 61%);
  background: -o-radial-gradient(#FFFFFF 19%, transparent 61%);
  background: radial-gradient(#FFFFFF 19%, transparent 61%); }

.pattern-bg {
  background-image: url(../../assets/images/pattern_large.png);
  background-color: #fff; }

.c-map {
  min-height: 500px;
  margin-top: 74px;
  padding: 100px 0;
  position: relative; }
  .c-map h1 {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #313131;
    margin-bottom: 70px; }
  .c-map .dot {
    height: 14px;
    width: 14px;
    background: #FFFFFF;
    border: 3px solid #44A146;
    display: block;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
  .c-map_cities {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-weight: 600; }
    .c-map_cities .city {
      border-bottom: 2px solid transparent;
      -webkit-transition: .2s ease;
      -o-transition: .2s ease;
      transition: .2s ease; }
      .c-map_cities .city:hover {
        border-bottom: 2px solid #44A146;
        -webkit-transition: .2s ease;
        -o-transition: .2s ease;
        transition: .2s ease; }
    .c-map_cities .Kiev {
      position: absolute;
      top: 39%;
      left: 44%;
      cursor: pointer; }
    .c-map_cities .Sumy {
      position: absolute;
      top: 34%;
      left: 66%;
      cursor: pointer; }
    .c-map_cities .Kharkov {
      position: absolute;
      top: 45%;
      left: 77%;
      cursor: pointer; }
    .c-map_cities .Starobelsk {
      position: absolute;
      top: 47%;
      left: 90%;
      cursor: pointer; }
    .c-map_cities .Severodonetsk {
      position: absolute;
      top: 56%;
      left: 88%;
      cursor: pointer; }
    .c-map_cities .Melitopol {
      position: absolute;
      top: 67%;
      left: 75%;
      cursor: pointer; }
    .c-map_cities .Herson {
      position: absolute;
      top: 74%;
      left: 62%;
      cursor: pointer; }
    .c-map_cities .Nikolaev {
      position: absolute;
      top: 66%;
      left: 53%;
      cursor: pointer; }
    .c-map_cities .Odessa {
      position: absolute;
      top: 77%;
      left: 41%;
      cursor: pointer; }
    .c-map_cities .Kamenets {
      position: absolute;
      top: 52%;
      left: 25%;
      cursor: pointer; }
    .c-map_cities .Lvov {
      position: absolute;
      top: 44%;
      left: 12%;
      cursor: pointer; }
    .c-map_cities .Khmelnitskiy {
      position: absolute;
      top: 41%;
      left: 26.5%;
      cursor: pointer; }
    .c-map_cities .Moscow {
      position: absolute;
      top: 22%;
      left: 90%;
      cursor: pointer; }
  .c-map_overlay {
    position: absolute;
    top: -600px;
    height: 81%;
    width: 100%;
    background: rgba(216, 216, 216, 0.89);
    -webkit-box-shadow: 6px 5px 25px rgba(58, 59, 60, 0.4);
            box-shadow: 6px 5px 25px rgba(58, 59, 60, 0.4);
    display: none;
    font-size: 20px;
    padding: 20px; }
    .c-map_overlay a {
      color: #2c692d; }
    .c-map_overlay h3 {
      font-size: 34px; }
    .c-map_overlay ul {
      list-style-type: none;
      padding-left: 0; }
    .c-map_overlay #storeName, .c-map_overlay #addStore {
      font-size: 25px;
      font-weight: 700; }
    .c-map_overlay #storeAddress {
      font-size: 23px; }
    .c-map_overlay #name, .c-map_overlay #addName {
      font-style: italic; }
    .c-map_overlay #storeImg img {
      max-height: 120px;
      -webkit-box-shadow: 6px 5px 25px rgba(58, 59, 60, 0.4);
              box-shadow: 6px 5px 25px rgba(58, 59, 60, 0.4);
      cursor: pointer; }
    .c-map_overlay_submit {
      color: green;
      background: none;
      border: none;
      font-size: 20px;
      cursor: pointer;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease; }
      .c-map_overlay_submit:hover {
        color: #2c692d;
        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease; }

.c-address {
  padding-bottom: 100px; }
  .c-address h2 {
    font-size: 18px;
    font-weight: 700;
    color: #313131; }
  .c-address ul {
    list-style-type: none;
    padding-left: 0; }

.bg-gradient {
  background: white;
  background: -webkit-gradient(left top, right top, color-stop(0%, white), color-stop(38%, #ced7e0), color-stop(85%, white), color-stop(100%, #e0e2e3));
  background: -webkit-linear-gradient(left, white 0%, #ced7e0 38%, white 85%, #e0e2e3 100%);
  background: -o-linear-gradient(left, white 0%, #ced7e0 38%, white 85%, #e0e2e3 100%);
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(38%, #ced7e0), color-stop(85%, white), to(#e0e2e3));
  background: linear-gradient(to right, white 0%, #ced7e0 38%, white 85%, #e0e2e3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e2e3', GradientType=1 );
  margin-top: 74px;
  padding-bottom: 70px; }

.cart {
  padding-top: 60px; }
  .cart_item_img {
    background: #FFFFFF;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px; }
  .cart_item_text {
    background: #FFFFFF; }
  .cart_item_name {
    display: block;
    color: #383838;
    font-weight: 700;
    font-size: 23px;
    margin-bottom: 20px; }
  .cart_item_price {
    display: block;
    color: #7A98B9;
    font-weight: 700;
    font-size: 25px;
    margin-left: 30px; }
  .cart_item_count {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
    .cart_item_count button {
      background: none;
      border: none;
      cursor: pointer; }
    .cart_item_count .plus-minus-svg {
      height: 20px;
      stroke: #7a98b9;
      fill: none;
      stroke-width: 2px;
      stroke: none; }
      .cart_item_count .plus-minus-svg .cls-1 {
        fill: #fff; }
      .cart_item_count .plus-minus-svg .cls-1, .cart_item_count .plus-minus-svg .cls-2 {
        stroke: #51677F;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease; }
      .cart_item_count .plus-minus-svg:active {
        -webkit-filter: drop-shadow(0 0 1px rgba(58, 59, 60, 0.3));
                filter: drop-shadow(0 0 1px rgba(58, 59, 60, 0.3));
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease; }
    .cart_item_count_val {
      font-size: 28px;
      font-weight: 400; }
  .cart_item_sum span:last-child {
    font-size: 22px; }

.cart_buttons {
  padding-top: 20px;
  padding-bottom: 50px; }
  .cart_buttons_all {
    font-size: 28px; }
  .cart_buttons_price {
    font-size: 34px;
    margin: 4% 10px; }

.cart_together {
  background: #FFFFFF;
  -webkit-box-shadow: 10px 10px 50px #ccc;
          box-shadow: 10px 10px 50px #ccc;
  padding: 20px; }
  .cart_together .item {
    padding-right: 100px;
    padding-left: 100px;
    position: relative;
    z-index: 100; }
  .cart_together_heading {
    color: #7A98B9;
    font-weight: 600;
    font-size: 28px; }
  .cart_together_outer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .cart_together_box {
    background: #FFFFFF;
    padding: 30px 10px;
    margin: 25px 15px 40px 15px;
    min-height: 285px; }
    .cart_together_box_name {
      font-weight: 400;
      font-size: 18px;
      color: #0d1200; }
    .cart_together_box_price {
      font-weight: 700;
      font-size: 25px;
      color: #44A146; }
  .cart_together_price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 18%;
    margin-left: 20px;
    text-align: center; }
    .cart_together_price_val {
      font-size: 28px;
      margin-bottom: 10px; }

.cart_empty {
  padding: 20px 0;
  color: #7A98B9;
  font-weight: 700;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  text-transform: uppercase; }
  .cart_empty_img {
    height: 100px;
    margin-bottom: 15px; }

.compare_heading {
  padding: 30px 0; }

.compare_images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .compare_images .row {
    width: 100%; }
  .compare_images_add {
    border: 3px solid #b5b5b5;
    height: 240px;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    padding: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer; }
    .compare_images_add p {
      width: 60%;
      text-align: center;
      color: #aaaaaa;
      font-family: mr-eaves-sans, sans-serif;
      font-weight: 700;
      margin-top: 20px; }
  .compare_images_item_img {
    background: #FFFFFF;
    width: 100%;
    height: 240px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto; }
  .compare_images_item a img {
    width: 100%; }
  .compare_images_item button {
    width: 45%;
    margin: auto;
    display: block; }
  .compare_images_name {
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #0d1200;
    margin-bottom: 0;
    padding-top: 20px; }
  .compare_images_price {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #707070; }

.compare_table {
  color: #707070;
  font-size: 17px;
  width: 100%; }
  .compare_table td {
    height: 50px;
    padding: 5px 10px;
    text-align: center; }
  .compare_table_bold {
    font-weight: 600;
    width: 30%;
    text-align: left !important;
    padding: 5px 0px !important; }

@media (max-width: 575.98px) {
  .header-line {
    font-size: .9em; }
    .header-line .timer {
      margin-left: 5% !important; }
  .lead {
    background-position: 17% 50%; }
    .lead h3 {
      font-size: 22px; }
    .lead p {
      font-size: 20px;
      width: 100%; }
    .lead input {
      width: 100%; }
  .video_aside .ytp-button {
    height: 40px; }
  .footer_social a {
    margin-bottom: 5%; }
  .footer_social svg {
    height: 35px; }
  .footer_nav a {
    margin-right: 0 !important; }
  .footer_contact a {
    margin-right: 0 !important; }
  /**ABOUT**/
  .a-banner_text p {
    margin: 0 !important;
    width: 100% !important;
    font-size: 14px; }
  .a-banner_text .row:nth-child(2)::before,
  .a-banner_text .row:nth-child(3)::before {
    left: 25vw; }
  .owl-carousel .owl-item div img {
    width: 80vw;
    height: auto;
    margin: 10vh auto; }
  .owl-carousel .owl-nav {
    display: none; }
  .owl-carousel .owl-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    bottom: 30px; }
    .owl-carousel .owl-dots .owl-dot {
      height: 5px;
      width: 5px;
      -webkit-border-radius: 2.5px;
              border-radius: 2.5px;
      background: #7A98B9;
      height: 15px;
      width: 15px;
      -webkit-border-radius: 7px;
              border-radius: 7px; }
      .owl-carousel .owl-dots .owl-dot:not(:last-child) {
        margin-right: 10px; }
    .owl-carousel .owl-dots .active {
      background: #51677F; }
  #modalPh .owl-carousel .owl-item div img {
    width: 100vw !important; }
  #modalPh .owl-carousel .owl-stage-outer {
    width: auto !important; }
  /**CART**/
  .cart_together_price {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin: 30px 0; }
    .cart_together_price_val {
      width: 100%; }
  .owl-carousel .owl-dots {
    bottom: 0; } }

@media (max-width: 767.98px) {
  .header_options:last-child {
    margin-left: 11%; }
  .banner {
    height: 550px; }
    .banner h1 {
      margin-top: 170px;
      font-size: 37px; }
    .banner h2 {
      font-size: 26px; }
  .goods_together_acc {
    left: 57%; }
  .goods_together_boat {
    left: 20%; }
  .goods_together_plus {
    left: 49%;
    top: 29%; }
  .new::after, .action::after {
    width: 30%; }
  .work {
    padding: 5%; }
  .video_aside .ytp-button {
    top: 30%;
    height: 32px;
    left: 0; }
  .video_aside img {
    display: block;
    width: 70%; }
  .video_main-vid iframe {
    width: 92.5% !important; }
  /**ABOUT**/
  .a-banner_text p {
    margin: 0 !important;
    width: 100% !important;
    font-size: 14px; }
  /**NEWS**/
  .n-feed_item {
    margin: 0 15px 15px 15px; }
  .btn-block {
    padding: 15px; }
  .n-lead_tags {
    padding-bottom: 30px; }
  .n-gallery .col-md-8 {
    padding: 0 20px; }
  /**COMPARE**/
  .compare_heading {
    font-size: 28px; }
  .compare_table {
    font-size: 11px; }
  .compare_images_item_img {
    height: 211px; }
  .compare_images_add {
    height: 145px;
    padding: 10px; }
  .compare_images_name {
    font-size: 23px; }
  /**PRODUCTION**/
  .production .nav-tabs li {
    width: 100%; }
    .production .nav-tabs li a {
      padding: 1%; }
  /**PRODUCT**/
  .controlls_mark_group .controlls_svg {
    height: 28px; }
  .controlls_mark_group .controlls_stars {
    font-size: 30px; }
  .controlls_mark_group .controlls_marks {
    font-size: 17px;
    margin-left: 13px; }
  .controlls_price {
    font-size: 26px;
    margin-right: 5px;
    line-height: 26px; }
  .item_aside_nav .active {
    font-size: 18px; }
  .item_aside_nav li {
    font-size: 17px; }
  .sets {
    margin-left: 0; }
    .sets_box_img img {
      width: 80%; }
  /**CART**/
  .cart_item_name,
  .cart_item_price {
    font-size: 20px;
    margin-bottom: 0; }
  /**NEWS_LIST**/
  .n-feed_item_img {
    width: 100%;
    margin-left: 0; }
    .n-feed_item_img img {
      width: 100%; }
  .n-feed_item_text_post {
    margin: 25px 0; }
  .n-feed_item_text_tags {
    margin-top: 20px; }
  .n-modal_vid {
    top: 30vh; }
  .n-modal_vid #modalVid {
    height: 300px; }
  /**NEWS_ITEM**/
  .blue-rounbded-TP-btn {
    float: none;
    margin-right: auto;
    margin-left: auto;
    display: block; }
  .comments .comments-feed {
    margin-top: 30px; } }

@media (max-width: 991.98px) {
  /**HOME**/
  .header-line .timer {
    margin-left: 5%; }
  .header_navigation {
    width: 10%; }
  .header_search {
    padding-left: 10%; }
  .banner_feature-box {
    -webkit-transition: initial;
    -o-transition: initial;
    transition: initial; }
    .banner_feature-box:hover {
      -webkit-transition: initial;
      -o-transition: initial;
      transition: initial;
      background-color: rgba(255, 255, 255, 0);
      background-image: initial; }
  .lead {
    height: 420px; }
  .goods_together {
    height: 420px; }
  .goods_together_price {
    text-align: center; }
  .goods_together_plus {
    top: 27%; }
  .goods_together_acc {
    height: 72px; }
  .work p {
    width: 55%;
    margin: 8% 0; }
  .work .col-md-3::after {
    display: none; }
  .video_aside_wrapper::after {
    display: none; }
  .video_main-vid iframe {
    width: 80%;
    height: 300px; }
  .video .video_aside {
    height: auto;
    overflow-y: initial;
    max-height: initial; }
  .video .popular_box {
    min-height: 150px; }
  /**COMPARE**/
  .compare_images .row {
    width: auto; }
  /**PRODUCT**/
  .sets {
    margin-left: 0; }
    .sets_box_img img {
      width: 80%; } }

@media (max-width: 1199.98px) {
  /**HOME**/
  .modals {
    right: 10px;
    top: initial;
    bottom: 20px; }
    .modals_side-btn {
      -webkit-border-radius: 40px;
              border-radius: 40px;
      width: 68px;
      margin: 25% 0; }
  .header-line .timer {
    margin-left: 5%; }
  .header {
    padding-top: 10px;
    min-height: 76px; }
    .header_search {
      width: 56%; }
  .lead .red-btn {
    margin: 5% 0; }
  /**ABOUT**/
  .a-banner {
    -webkit-background-size: cover;
            background-size: cover;
    max-height: 500px; }
    .a-banner_aside .row:not(:last-child) {
      margin-right: 5px; }
  /**PRODUCT**/
  .sets_box {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .sets_box_img {
      width: 100%;
      display: block; }
      .sets_box_img img {
        margin: auto;
        display: block; }
    .sets_box_aside {
      width: 100%;
      text-align: center; }
      .sets_box_aside a {
        display: block; } }

@media (min-width: 991.98px) and (max-width: 1199.98px) {
  .ytp-button {
    top: 34%;
    left: 3px; } }

@media (min-width: 768px) and (max-width: 1199.98px) {
  .work p {
    width: 100%; }
  .video_main-vid iframe {
    width: 95%; }
  .n-feed_item_img {
    margin-left: 20px; } }

@media (min-width: 940px) {
  .video_aside .row {
    margin-bottom: 5em; } }

@media (min-width: 980px) and (max-width: 1200px) {
  .header_search {
    width: 34% !important; } }
